@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#j {
  font-size: 25rem;
  text-shadow: 8px 5px 0 rgba(0, 0, 0, 0.7);
}

body {
  transform: skewX(-25deg);
  height: 100vh;
  widows: 100vw;
  display: flex;
  color: white;
  background: linear-gradient(to right, black, indigo);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#primer,
#segundo {
  display: flex;
  font-size: 4rem;
}

hr {
  margin: 10px 0px;
  border-style: dashed;
}

.circle {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 7rem;
  border-radius: 50%;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
}
